/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/


/* THIS LINE LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Start your base/mobile styles here */


* {
  box-sizing: border-box;
}

html, body {
  /* Sets default font-size to 16px, ensuring 1em = 16px; */
  font: helvetica;
  font-size: 16px;
  /* background-color: #D3D3D3; */
  overflow-x: hidden;
  height: 100%;
}
.hero-image {
  /* The image used */
  background-image: url("https://i.imgur.com/MrwjhKs.jpg");
  display: block;
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 40px;
  background: linear-gradient(right);
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 45%;
    left: 33%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  margin-top: 10px;
  padding-left: 10px;
}
h1 {
  text-align: left;
  font-weight: 8800;
  font-size: 40px;
  font-family: helvetica;
}

h2 {
  font-family: helvetica;
  text-align:center;
  margin-bottom: 100px;

}



#headline {
  font-size: 2em;
  text-align: left;
  margin-top: 5px;
  text-shadow: 3px 3px black;
}
#subhead {
  font-size: .5em;
  text-align: left;
  margin-top: auto;
  text-shadow: 1px 1px black;
  padding-bottom: 10px;

}

#byline {
  margin-right: 10px;
   margin-top: 5px;
  font-size: 15px;
  text-shadow: .5px .5px black;
  padding-bottom: 5px;
}

p {
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  font-family: helvetica;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h4{
  font: helvetica;
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    #headline {
        margin-top: 10px;
        font-size: 100px;
      }
      #byline {
        margin-right: 700px;
        margin-top: 5px;
        font-size: 35px;
      }


}


@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */

    .hero-text{
      text-align: center;
      position: absolute;
      left: %;
      top: 40%;
    }
    #headline {
          margin-top: 50px;


        }
        #subhead {
          font-size: 25px;
          text-align: left;
          margin-top: auto;
          text-shadow: 2px 2px #ff0000;
          margin-right: 10px;
          margin-bottom: 10px;
          position: absolute;
          bottom: 10%;
          left:80%;
        }
        #byline {
          margin-right: 550px;
          margin-top: 5px;
      font-size: 20px;
    }
    .audio{
      width:75%
      padding-left: 10px;
      
    }


}
